@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #00DCCD;
    --secondary-color: #004056;
    --complementary-color: #d3d3d3;
    --table-color-1: #f5f5f5;
    --transition-speed: 200ms;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    background: #fff;
}

label {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: .5rem;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 1rem;
    background: var(--complementary-color);
    outline: none;
    -webkit-transition: var(--transition-speed);
    transition: opacity var(--transition-speed);
    height: .5rem;
    margin-top: .5rem;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: var(--secondary-color);
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    transition: var(--transition-speed);
}

.slider::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 .5rem rgba(0, 220, 205, 0.2);
}

.loan-details ul {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.loan-details ul li {
    display: flex;
    align-items: center;
    gap: .25rem;
}

.loan-details ul li h2 {
    color: var(--secondary-color);
}

.divider {
    border-bottom: 1px solid var(--complementary-color);
    margin: 1rem 0;
}

.loan-sheet {
    position: relative;
}

.loan-sheet.loading:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8) url("../img/loader.svg") no-repeat center center;
    background-size: 8rem;
}

.loan-sheet table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
}

.loan-sheet table thead {
    background: var(--complementary-color);
}

.loan-sheet table th,
.loan-sheet table td {
    padding: .5rem;
    text-align: left;
}

.loan-sheet tr:nth-child(even) {
    background: var(--table-color-1);
}

.calculator-label {
    display: flex;
    flex-direction: row;
}

.selection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
    margin-top: .85rem;
}

.calculator-selection {
    display: flex;
    height: 100%;
    width: 100%;
}

.calculator-selection input {
    display: none;
}

.calculator-selection label {
    border-radius: .25rem;
    cursor: pointer;
    transition: background-color var(--transition-speed);
    border: 1px solid var(--secondary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: .5rem 1rem .5rem 3rem;
    width: 100%;
}

.calculator-selection label:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

.calculator-selection label:hover:before {
    border-color: #fff;
}

.calculator-selection input:checked + label {
    background-color: var(--secondary-color);
    color: #fff;
}

.calculator-selection input:checked + label:before {
    border-color: #fff;
}

.calculator-selection input:checked + label:after {
    background-color: #fff;
}

.calculator-selection label:before {
    position: absolute;
    left: 1rem;
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    border-radius: 50%;
    border: 1px solid var(--secondary-color);
    transition: var(--transition-speed);
}

.calculator-selection label:after {
    position: absolute;
    left: 1.25rem;
    content: '';
    display: inline-block;
    width: .5rem;
    height: .5rem;
    margin-right: .5rem;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: var(--transition-speed);
}

.calculator-selection input:checked + label {
    border-color: var(--secondary-color);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: .5rem 1rem;
    border-radius: .25rem;
    border: 1px solid var(--secondary-color);
    background: #fff;
    cursor: pointer;
    transition: background var(--transition-speed);
}

.btn:hover {
    background: var(--secondary-color);
    color: #fff;
}

@media (max-width: 767px) {
    .loan-details ul {
        flex-direction: column;
        gap: 1rem;
    }

    .loan-sheet table {
        font-size: .75rem;
    }

    .selection {
        grid-template-columns: repeat(2, 1fr);
    }
}
